<template>

    <BreezeAuthenticatedLayout>
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">
                Locales
            </h2>
        </template>

        <div>
            <h1 class="mb-8 font-bold text-3xl">Locales</h1>
            <div class="bg-white rounded-md shadow overflow-x-auto">
                <table class="w-full whitespace-nowrap">
                    <tr class="text-left font-bold">
                        <th class="px-6 pt-6 pb-4">Name</th>
                        <th class="px-6 pt-6 pb-4">Native</th>
                        <th class="px-6 pt-6 pb-4" colspan="2">ISO</th>
                    </tr>
                    <tr v-for="locale in locales" :key="locale.id"
                        class="hover:bg-gray-100 focus-within:bg-gray-100">
                        <td class="border-t">
<!--                            <inertia-link class="px-6 py-4 flex items-center focus:text-indigo-500"-->
<!--                                          :href="route('locales.edit', locale.id)">-->
<!--                                {{ locale.name }}-->
<!--                                <icon v-if="locale.deleted_at" name="trash"-->
<!--                                      class="flex-shrink-0 w-3 h-3 fill-gray-400 ml-2"/>-->
<!--                            </inertia-link>-->
<!--                        </td>-->
<!--                        <td class="border-t">-->
<!--                            <inertia-link class="px-6 py-4 flex items-center" :href="route('locales.edit', locale.id)"-->
<!--                                          tabindex="-1">-->
<!--                                {{ locale.city }}-->
<!--                            </inertia-link>-->
<!--                        </td>-->
<!--                        <td class="border-t">-->
<!--                            <inertia-link class="px-6 py-4 flex items-center" :href="route('locales.edit', locale.id)"-->
<!--                                          tabindex="-1">-->
<!--                                {{ locale.phone }}-->
<!--                            </inertia-link>-->
<!--                        </td>-->
<!--                        <td class="border-t w-px">-->
<!--                            <inertia-link class="px-4 flex items-center" :href="route('locales.edit', locale.id)"-->
<!--                                          tabindex="-1">-->
<!--                                <icon name="cheveron-right" class="block w-6 h-6 fill-gray-400"/>-->
<!--                            </inertia-link>-->
<!--                        </td>-->
                    </tr>
<!--                    <tr v-if="locales.data.length === 0">-->
<!--                        <td class="border-t px-6 py-4" colspan="4">No locales found.</td>-->
<!--                    </tr>-->
                </table>
            </div>
        </div>
    </BreezeAuthenticatedLayout>
</template>

<script>
import BreezeAuthenticatedLayout from '@/Layouts/Authenticated.vue';
import { Head } from '@inertiajs/inertia-vue3';

export default {
    name: "Index",
    components: {
        BreezeAuthenticatedLayout,
        Head,
    },
    props: {
        locales: Object,
    },
    data() {
        return {
            locales: [],
        }
    },
}
</script>

<style scoped>

</style>
